.container {
  .ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    height: 100vh;
    margin-block-start: 5rem;
    // padding-inline-start: 2rem;
    // padding-block-start: 6rem;

    .li {
      color: var(--main);
      background-color: var(--white);
      border-radius: 8px 0 0 8px;
      &.active {
        background-color: var(--light);
      }
      @media only screen and (min-width: 930px) {
        text-align: center;
      }
      .icon {
        color: var(--main);
        @media only screen and (min-width: 930px) {
          justify-content: center;
        }
        @media only screen and (min-width: 1440px) {
          justify-content: flex-start;
        }
      }
      .link {
        display: none;

        @media only screen and (min-width: 1440px) {
          display: inline-flex;
        }
      }
    }
  }
}
