.container {
  .chart__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 1.5rem;
  }
  .chart__container {
    max-width: 100%;
    overflow-x: scroll;
  }
}
